ejercicio4.dtd

<!ELEMENT Juego (Jugadores, Tablero, TurnoActual)>
<!ELEMENT Jugadores (Jugador+)>
<!ELEMENT Jugador (Nombre, Simbolo)>
<!ELEMENT Nombre (#PCDATA)>
<!ELEMENT Simbolo (#PCDATA)>
<!ELEMENT Tablero (Fila+)>
<!ELEMENT Fila (Celda+)>
<!ELEMENT Celda (#PCDATA)>
<!ELEMENT TurnoActual (#PCDATA)>

<!ATTLIST Juego lang CDATA #REQUIRED>
<!ATTLIST Jugador id ID #REQUIRED>
<!ATTLIST Fila numero (1 | 2 | 3) #REQUIRED>
<!ATTLIST Celda columna (1 | 2 | 3) #REQUIRED>
